# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

changes.md

server.js
/certificates
/prisma/migrations

/lib/google.json

media.md

/pscale_dump_donaldlouch_main

# dependencies
/node_modules
/.pnp
.pnp.js
/.yarn

package-lock.json
npmUpdate.md
npmUpdate.txt
/pages/admin/postEdit/bodyWork.md

# testing
/coverage

/public/videos
/public/pictures

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

.vscode

.next