-old

node_modules

dist/
.output/
.vinxi/
.vercel/
.netlify/
.tanstack/

.env
.env.yarn
.env.*
!.env.example

prisma/migrations/
prisma/seed.ts
src/generated

.vscode/

.DS_Store
Thumbs.db

*.log
npm-debug.log*
pnpm-debug.log*

src/routeTree.gen.ts
gitignoreOLD
.yarn/install-state.gz
