.defaultInput {
    box-shadow: var(--mantine-shadow-bsBoldSecondary);
    border-radius: var(--mantine-radius-md);
    color: var(--mantine-color-white) !important;
    border: none;
    outline: none;
    /* &:focus-within {
        box-shadow: var(--mantine-shadow-bsBoldPrimary);
        color: var(--mantine-color-white);
    }; */
    &[data-error] {
        box-shadow: var(--mantine-shadow-bsBoldRed) !important;
    }
}

.dateInput {
    color: var(--mantine-color-white) !important;
    &[data-active], &[data-selected] {
        background: var(--primary);
    }
    &:hover {
        background: var(--darkPurple) !important;
    }
}

.checkColour {
    border-color: var(--mantine-color-white);
    background: none;
    &:disabled:checked{
        background: var(--primary) !important;
        border: none;
    }
    &:disabled{
        background: none !important;
        color: var(--mantine-color-white);
    }
    &:checked > label {
        text-decoration: line-through !important;
        color: var(--mantine-color-green-0);
    }
}

.checkLabel {
    &:checked {
        text-decoration: line-through !important;
        color: var(--mantine-color-green-0);
    }
}