.defaultInput {
    box-shadow: var(--mantine-shadow-bsBoldSecondary);
    border-radius: var(--mantine-radius-md);
    color: var(--mantine-color-white) !important;
    &:focus {
        box-shadow: var(--mantine-shadow-bsBoldPrimary);
        color: var(--mantine-color-white);
    };
    &:invalid {
        box-shadow: var(--mantine-shadow-bsBoldRed);
    }
}