@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

:root {
    --whiteColourGradient: radial-gradient(ellipse at center, #EDEDED 0%,#FAFAFA 36%,#EBEBEB 100%);
    --mainGradient: linear-gradient(90deg, #764688, #e7c462);
    --backgroundGradient: linear-gradient(-135deg, rgba(59,103,217,0.8) 0%, rgba(67,12,140,0.95) 75%);
    --blurredBackground: rgba(118 70 136 / 15%);
    --blurredMoreBackground: rgba(48, 36, 60, 10%);
    --subtleBlurredBackground: rgba(237 237 237 / 15%);
    --holidayGradient: linear-gradient(90deg, #3F4F2C, #CFBF87, #B03B30);
    --prideGradient: linear-gradient(75deg, rgba(212,6,6,1) 0%, rgba(240,157,0,1) 15%, rgba(229,254,3,1) 22%, rgba(13,190,3,1) 35%, rgba(10,26,154,1) 42%, rgba(118,1,138,1) 60%,  rgba(118,1,138,1) 65%, rgba(1,1,1,1) 70%, rgba(97,58,22,1) 80%, rgba(116,215,237,1) 90%, rgba(255,175,199,1) 100%);
    --newPrideGradient: linear-gradient(45deg, #5D62B5 0%, #5D62B5 17%, #6BB0A6 17%, #6BB0A6 34%, #EFC050 34%, #EFC050 51%, #EB7F3F 51%, #EB7F3F 68%, #ED4C67 68%, #ED4C67 85%, #652D90 85%, #652D90 100%);
    --darkPurple: #30243c;
    --darkerPurple: rgb(30, 25, 42);
    --darkPurpleRGBA: rgba(48, 36, 60, 0.7);
    --blackRGBA: rgba(15, 17, 27, 0.7);
    --blackPurple: #1e192a;

    --primary: #764688;
    --secondary: #e7c462;
}

html {
    scroll-behavior: smooth !important;
    scroll-padding: 5rem;
    overscroll-behavior-inline: contain;
    overscroll-behavior: contain;
    scroll-snap-type: inline mandatory;
    background: var(--mainGradient);
}

.mantine-TimePicker-field {
    color: var(--mantine-color-white) !important;
}

body {
    background: var(--mantine-color-black) !important;
    color: #e7e7e7 !important;
}

/* .mantine-Anchor-root {
    color: currentColor;
    &:hover {
        color: var(--secondary)
    }
} */

.headerLink {
    color: currentColor;
    &:hover {
        color: var(--secondary)
    }
}

.actionIconDefault {
    &:hover {
        background: var(--primary);
    }
}

.linkDefault {
    color: var(--mantine-color-white);
    border-bottom: 3px solid !important;
    border-color: var(--primary) !important;
    &:hover {
        border-color: var(--mantine-color-white) !important;
        text-decoration: none !important;
        color: var(--secondary);
    }
}

.accordionDefault {
    --item-filled-color: none !important;
    background: none !important;
}