.root {
    background-color: var(--notification-color) !important;
    box-shadow: var(--mantine-shadow-bsSMPrimary) !important;
}

.icon {
    border-radius: 0;
    background: none;
    margin-left: -0.5rem;
}

.title {
    font-size: 1.1rem !important;
    font-weight: 500 !important;
    color: var(--mantine-color-white) !important;
    /* color: green; */
}
.description {
    font-size: 0.9rem !important;
    color: var(--mantine-color-white) !important;
}

.closeButton {
    color: var(--mantine-color-white) !important;

    &:hover {
        background: var(--darkPurpleRGBA) !important;
    }
}