.headerLinkPortal {
    border-radius: var(--mantine-radius-md);
    transition: all 0.3s;

    &:hover,
    &:active {
        background: var(--secondary);
        color: var(--mantine-color-black);
        text-decoration: none;
        border: none !important;
    }

    &:focus {
        box-shadow: "none";
    }
}

.headerLink_labelPortal {
    font-size: 1.2rem;
    text-decoration: none;
}

.headerLink {
    border-radius: var(--mantine-radius-md);
    transition: all 0.3s;
    &:hover, &:active {
        background: var(--secondary);
        color: var(--mantine-color-black);
        text-decoration: none;
        border: none !important;
    }
    &:focus {
        box-shadow: "none";
    }
}
.headerLink_label {
    font-size: 1.3rem;
    text-decoration: none;
}

.headerLinkSub_label {
    font-size: 1rem;
    text-decoration: none;
    /* &:hover {
        color: var(--secondary);
        text-decoration: none;
    } */
}

.primaryButton {
    &:hover {
            background: var(--secondary);;
            color: var(--mantine-color-black);
            text-decoration: none;
            border: none !important;
        }
}

.linkButton {
    box-shadow: var(--mantine-shadow-bsBoldSecondary);
    border-radius: var(--mantine-radius-md);
    white-space: nowrap;
    overflow-x: scroll;
    &:hover {
        box-shadow: none;
        background: var(--backgroundGradient);
        color: white;
    }
}

.chaptersButton {
    text-align: left !important;
    &:hover {
        background: none;
    }
}

.homeButton {
    &:hover {
        color: var(--secondary);
    }
}